<h2>WoW Dashboard</h2>
<div>
    <form action="/">
    <label>Put service provider name to filter:</label>
    <input type="text" id="search" name="search" placeholder="" />
    </form>
<!--    <button>-->
</div>
<div id="main">


</div>

